# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/RND_CPP/.vs/RND_CPP/v16
/RND_CPP/bin
/RND_CPP/DesignPatterns/Debug
/RND_CPP/DesignPatternsGithub/Debug
/RND_CPP/Leader/Debug
/RND_CPP/WindowsRunTime/Debug
